.video-container {
  min-height: 200px;
  width: 350px;
  border: 2px solid lightgray;
  border-radius: 8px;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 5px;
}
.video-heading {
  color: black;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}
.video-para {
  color: black;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}
.images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.video1 {
  height: 50px;
  width: 200px;
  margin: 10px;
}
.video2 {
  height: 50px;
  width: 200px;
  margin: 10px;
}
